*{
    font-family: 'Courier New', Courier, monospace;
    background-color: azure;
}

h1{
    text-align: center;
    text-decoration: underline;
    color: navy;
}

section{
    display: flex;
    justify-content: center;

}

.game__buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 210px;
    height: 200px;
}

#center-button{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-weight: bold;
}

#red-button{
    background-color: red;
    border: 2px solid red;
    width: 100px;
    height: 100px;
    border-radius: 100% 0 0 0;
}

#blue-button{
    
    background-color: blue;
    border: 2px solid blue;
    width: 100px;
    height: 100px;
    border-radius: 0 100% 0 0;
}

#yellow-button{
    background-color: yellow;
    border: 2px solid yellow;
    width: 100px;
    height: 100px;
    border-radius: 0 0 0 100%;
}

#green-button{
    background-color: green;
    border: 2px solid green;
    width: 100px;
    height: 100px;
    border-radius: 0 0 100% 0;
}

.action__buttons{
    display: flex;
    justify-content: center;
    margin: 50px;
}

#enter-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: bold;
}

#reset-button{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    font-weight: bold;
}